@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  font-feature-settings: 'ss02';
}

/* Persian numerals look better in tabular contexts */
.tnum {
  font-variant-numeric: tabular-nums;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 8px;
}

input,
textarea,
select {
  font-family: inherit;
}
